/* Icon Fonts */
/* Material Icons Google Design*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/material-design-icons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("/fonts/material-design-icons/Material Icons"), local("/fonts/material-design-icons/MaterialIcons-Regular"), url(/fonts/material-design-icons/MaterialIcons-Regular.woff2) format("woff2"), url(/fonts/material-design-icons/MaterialIcons-Regular.woff) format("woff"), url(/fonts/material-design-icons/MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-64 {
  font-size: 64px; }

.material-icons.md-72 {
  font-size: 72px; }

.md-18 {
  font-size: 18px; }

.md-24 {
  font-size: 24px; }

.md-36 {
  font-size: 36px; }

.md-48 {
  font-size: 48px; }

.md-64 {
  font-size: 64px; }

.md-72 {
  font-size: 72px; }

/* Rules for using icons color */
.icon-va32 {
  vertical-align: 32px; }

.icon-va30 {
  vertical-align: 30px; }

.icon-va28 {
  vertical-align: 28px; }

.icon-va26 {
  vertical-align: 26px; }

.icon-va24 {
  vertical-align: 24px; }

.icon-va22 {
  vertical-align: 22px; }

.icon-va20 {
  vertical-align: 20px; }

.icon-va18 {
  vertical-align: 18px; }

.icon-va16 {
  vertical-align: 16px; }

.icon-va14 {
  vertical-align: 14px; }

.icon-va12 {
  vertical-align: 12px; }

.icon-va10 {
  vertical-align: 10px; }

.icon-va8 {
  vertical-align: 8px; }

.icon-va6 {
  vertical-align: 6px; }

.icon-va4 {
  vertical-align: 4px; }

.icon-va2 {
  vertical-align: 2px; }

.icon-va0 {
  vertical-align: 0px; }

.icon-va-2 {
  vertical-align: -2px; }

.icon-va-4 {
  vertical-align: -4px; }

.icon-va-6 {
  vertical-align: -6px; }

.icon-va-8 {
  vertical-align: -8px; }

.icon-va-10 {
  vertical-align: -10px; }

.icon-va-12 {
  vertical-align: -12px; }

.icon-va-14 {
  vertical-align: -14px; }

.icon-va-16 {
  vertical-align: -16px; }

.icon-va-18 {
  vertical-align: -18px; }

.icon-va-20 {
  vertical-align: -20px; }

.icon-va-22 {
  vertical-align: -22px; }

.icon-va-24 {
  vertical-align: -24px; }

.icon-va-26 {
  vertical-align: -26px; }

.icon-va-28 {
  vertical-align: -28px; }

.icon-va-30 {
  vertical-align: -30px; }

.icon-va-32 {
  vertical-align: -32px; }
